body {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    h1  {
        font-size: 3.5rem;
        text-align: left;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    
    h3 {
        font-size: 25px;
    }

    img {
        float: left;
        width: 400px; /* Increased size */
        height: 400px; /* Increased size */
        border-radius: 50%;
        padding: 25px;

    }

.px-3 {
    margin-bottom: 50px; /* Adds more space between intro and footer */
}

.cover-container {
    max-width: 75em;
}


/*
 * Header
 */
header, footer {
    background-color: white; /* Change header and footer to white */
    color: black; /* Ensure text is readable */
    border-radius: 15px;
    padding: 20px;
}

/* Adjust navigation links for better contrast */
.nav-masthead .nav-link {
    color: black;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(0, 0, 0, 0.25);
    }

.nav-masthead .active {
    color: #459fbb;
    border-bottom-color: rgb(128, 128, 128);
}

/* Adjust footer text and box styles */
footer .Box {
    background-color: #e0e0e0; /* Light gray for subtle contrast */
    color: black;
}

.Box:hover {
    background-color: #d0d0d0;
} background-color: #63639f;
