body {
    background-color: #334;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    h3 {
        font-size: 25px;
    }
    p {
        font-size: 20px;
    }
    main {
        padding-left: 20px;
        padding-right: 20px;
    }

.cover-container {
    max-width: 75em;
}

header {
    background-color: #47475e;
    padding: 20px;
    border-radius: 15px;
}

.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
    }

.nav-masthead .active {
    color: ##68a7fb;
    border-bottom-color: rgb(128, 128, 128);
}

footer {
    padding: 20px;
    border-radius: 20px;
    background-color: #47475e
}


.Box{
background-color: #47475e;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

    .Box:hover {
        transform: scale(1.1);
        background-color: #676794;
    }


